{
  "extends": "eslint-config-airbnb",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "no-console": 0,
    "id-length": 0,
    "semi": [2, "never"],
    # "react/prop-types": 0,
    # "react/prefer-stateless-function": 0
  },
  # "plugins": [
  #   "react"
  # ]
}
