{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "comma-dangle": 0,
    "no-console": 0,
    "id-length": 0,
    "semi": [2, "never"]
  }
}
