{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "plugins": ["import"],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": 0,
    "no-console": 0,
    "id-length": 0,
    "semi": [2, "never"],
    "no-param-reassign": [2, { "props": false }], # 参数不可修改，属性可修改
    "no-underscore-dangle": 0,                    # 允许 _
  }
}
