html, body
  height 100%
  -webkit-tap-highlight-color transparent

body
  background-color #fbf9fe
  overflow-x hidden

.container
  height 100%
  overflow-y auto
  -webkit-overflow-scrolling touch

.page
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  overflow-y auto
  -webkit-overflow-scrolling touch

.ft
  position absolute
  bottom 0
  width 100%
  z-index 1

// utils
.spacing
  padding-left 15px
  padding-right 15px


// fastclick 大黑魔法啊
// .weui_check_label *
//   pointer-events: none
