@font-face
  font-family: 'iconfont'
  src: url('//at.alicdn.com/t/font_1460603920_5100303.eot')
  src: url('//at.alicdn.com/t/font_1460603920_5100303.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1460603920_5100303.woff') format('woff'),
  url('//at.alicdn.com/t/font_1460603920_5100303.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1460603920_5100303.svg#iconfont') format('svg')

.iconfont
  font-family "iconfont"
  font-size 16px
  font-style normal
